body {
  background-color: #C5FFFD;
}
h1 {color: #000000;
text-align: center;
  font-family: courier;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-right: 80px;
  margin-left: 80px;
  font-weight: bold;
  animation-name: heading-animation;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
h2.abt {color: #000000;
  text-align: left;
  font-family: courier;
  font-weight: bold;
  margin-left: 140px;
}
h2.portfolio {color: #000000;
  text-align: center;
  font-family: courier;
}
h2.contact {color: #000000;
  text-align: center;
  font-family: courier;
}
h2.contact-link {color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: courier;
  margin-top: 20px;
  margin: 0
}
h2 a:link, h2 a:visited {color: #000000;
}
h2 a:hover, h2 a:active {background-color: #E0F2E9;
color: #000000;
}
p {color: #000000;
text-align: left;
  font-family: courier;
  margin-left: 140px;
  margin-right: 140px;
}
ul.nav {list-style-type: none;
margin: 0px;
left: 0px;
padding: 0px;
overflow: hidden;
background-color: #a3d5d3;
position: fixed;
width: 100%;
top: 0;
}
@keyframes heading-animation {
  0%   {background-color:#C5FFFD; margin-left:200px; margin-right: 200px; margin-top:80px;}
  25%  {background-color:#E0F2E9; margin-left:100px; margin-right: 200px; margin-top:80px;}
  50%  {background-color:#E0F2E9; margin-left:200px; margin-right: 100px; margin-top:80px;}
  75%  {background-color:#E0F2E9; margin-left:80px; margin-right: 80px; margin-top:80px;}
  100% {background-color:#C5FFFD; margin-left:0px; margin-right: 0px; margin-top:80px;}
}
li.nav {
  float: left;
}
li a {
  display: block;
  color:#1c1a1a;
  font-family: courier;
  font-weight: bold;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none
}
li a:hover {
  background-color:#E0F2E9;
}
img.index-imgs {display: block;
  left: auto;
  right: auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px
}
img.gp-imgs {max-width: 40%;
  height: auto;
  border-radius: 8px;
}
div.prt-gp-imgs {text-align: center;
}
img.iphone-imgs {max-width: 80%;
  height: auto;
  border-radius: 8px;
}
div.prt-iphone-imgs {text-align: center;
}
img.toc-logo {max-width: 100%;
  height: auto;
}
div.toc-designs {text-align: center;
}
.tooltip {
  position: relative;
  display: block; 
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #E0F2E9;
  color: #000000;
  font-family: courier;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptext::after {
 content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-style: solid;
  border-color: transparent transparent #E0F2E9 transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible
}
