
body {
  background-color: #C5FFFD;
}
h1 {
  color: #000000;
  text-align: center;
  font-family: courier;
  margin-top: 6vh;
  margin-bottom: 3vh;
  margin-right: 80px;
  margin-left: 80px;
  font-weight: bold;
  animation-name: heading-animation;
  animation-duration: 4s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}
@keyframes heading-animation {
  0%   {background-color:#C5FFFD; margin-left: 10.4%; margin-right: 10.4%; margin-top: 6vh;}
  25%  {background-color:#E0F2E9; margin-left: 5.2%; margin-right: 10.4%; margin-top: 6vh;}
  50%  {background-color:#E0F2E9; margin-left: 10.4%; margin-right: 5.2%; margin-top: 6vh;}
  75%  {background-color:#E0F2E9; margin-left: 4.2%; margin-right: 4.2%; margin-top: 6vh;}
  100% {background-color:#C5FFFD; margin-left: 0%; margin-right: 0%; margin-top: 6vh;}
}
h2 {
  color: #000000;
  text-align: center;
  font-family: courier;
}
h2.abt {
  color: #000000;
  text-align: left;
  font-family: courier;
  font-weight: bold;
  margin-left: 8%;
}
h2.portfolio {
  color: #000000;
  text-align: center;
  font-family: courier;
}
h2.contact {
  color: #000000;
  text-align: center;
  font-family: courier;
}
h2.contact-link {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: courier;
  margin-top: 20px;
}
h2 a:link, h2 a:visited {
  color: #000000;
  background-color:#C5FFFD;
}
h2 a:hover, h2 a:active {
  color: #000000;
  background-color: #E0F2E9;
}
p {
  color: #000000;
  text-align: left;
  font-family: courier;
  margin-left: 8%;
  margin-right: 8%;
}
ul.nav {
  list-style-type: none;
  margin: 0px;
  left: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #a3d5d3;
  position: fixed;
  width: 100%;
  top: 0;
}
li.nav {
  float: left;
}
li a {
  display: block;
  color:#1c1a1a;
  font-family: courier;
  font-weight: bold;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none
}
li a:hover {
  background-color:#E0F2E9;
}
img.index-imgs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 98vw;
  height: auto;
  border-radius: 8px;
}
div.prt-gd-imgs, div.prt-gp-imgs, div.prt-nature-imgs {
text-align: center;
}
img.gd-imgs, img.gp-imgs, img.nature-imgs {
  max-width: 40vw;
  height: auto;
  border-radius: 8px;
}
img.cis-collage, img.toc-logo {
  max-width: 80vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.yt-video {
  text-align: center;
  margin-top: 20px;
}
@media only screen and (max-width: 800px) {
  h1, h2, [class*="nav"], li a {
    font-size: 90%;
  }
  li a {
  padding: 12px 16px;
  }
  iframe {
    width: 80vw;
    height: auto;
  }
  img.gd-imgs, img.gp-imgs, img.nature-imgs {
    width: 80vw;
    height: auto;
  }
  button {
    padding: 10px 20px;
    font-size: 12px;
  }
  h1 {
    margin-top: 8vh;
    margin-bottom: 20px;
    animation-duration: 1s;
  }
  @keyframes heading-animation {
    0%   {background-color:#C5FFFD; margin-left: 10.4%; margin-right: 10.4%; margin-top: 8vh;}
    25%  {background-color:#E0F2E9; margin-left: 5.2%; margin-right: 10.4%; margin-top: 8vh;}
    50%  {background-color:#E0F2E9; margin-left: 10.4%; margin-right: 5.2%; margin-top: 8vh;}
    75%  {background-color:#E0F2E9; margin-left: 4.2%; margin-right: 4.2%; margin-top: 8vh;}
    100% {background-color:#C5FFFD; margin-left: 0%; margin-right: 0%; margin-top: 8vh;}
  }
}
button {
background-color: #E0F2E9;
border: none;
font-family: courier;
color: #000000;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
