body {
  background-color: #C5FFFD;
}

h1 {
  color: #000000;
  text-align: center;
  font-family: courier;
  margin-top: 4.5rem;
  margin-bottom: 1.5rem;
  margin-right: 80px;
  margin-left: 80px;
  font-weight: bold;
  animation-name: heading-animation;
  animation-duration: 4s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes heading-animation {
  0%   {background-color:#C5FFFD; margin-left: 10.4%; margin-right: 10.4%;}
  25%  {background-color:#E0F2E9; margin-left: 5.2%; margin-right: 10.4%;}
  50%  {background-color:#E0F2E9; margin-left: 10.4%; margin-right: 5.2%;}
  75%  {background-color:#E0F2E9; margin-left: 4.2%; margin-right: 4.2%;}
  100% {background-color:#C5FFFD; margin-left: 0%; margin-right: 0%;}
}

h2 {
  color: #000000;
  text-align: center;
  font-family: courier;
}
h2.abt {
  color: #000000;
  text-align: left;
  font-family: courier;
  font-weight: bold;
  margin-left: 8%;
}

h2.portfolio {
  color: #000000;
  text-align: center;
  font-family: courier;
}

h2.contact {
  color: #000000;
  text-align: center;
  font-family: courier;
}

h2.contact-link {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: courier;
  margin-top: 20px;
}

h2 a:link, h2 a:visited {
  color: #000000;
  background-color:#C5FFFD;
}

h2 a:hover, h2 a:active {
  color: #000000;
  background-color: #E0F2E9;
}

p.abt {
  color: #000000;
  text-align: left;
  font-family: courier;
  margin-left: 8%;
  margin-right: 8%;
}

p.img-description{
  color: #000000;
  text-align: center;
  font-family: courier;
}

ul.nav {
  list-style-type: none;
  margin: 0px;
  left: 0px;
  top: 0;
  margin-bottom: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #a3d5d3;
  position: fixed;
  width: 100%;
}

li.nav {
  float: left;
}

li a {
  display: block;
  color:#1c1a1a;
  font-family: courier;
  font-weight: bold;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none
}

li a:hover {
  background-color:#E0F2E9;
}

div.index {
  display: grid;
  place-items: center;
}

img.index-imgs {
  width: auto;
  height: 90vh;
  border-radius: 8px;
}

div.prt-gd-imgs, div.prt-gp-imgs, div.prt-nature-imgs {
  display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
}

div.polaroid {
  width: 30vw;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2rem;
  border-radius: 8px;
}

div.container {
  text-align: center;
  padding: 0.75rem;
}

img.gd-imgs,  {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

img.gp-imgs, img.nature-imgs{
  width: 35vw;
  height: auto;
  margin-bottom: 2rem;
  border-radius: 8px;
}

img.cis-collage, img.toc-logo {
  max-width: 70vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.yt-video {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

@media only screen and (max-width: 1080px) {

h1, h2, [class*="nav"], li a {
  font-size: 80%;
  }

li a {
  padding: 16px 18px;
  }

iframe {
    width: 80vw;
    height: auto;
  }

div.polaroid {
    width: 70vw;
  }

h1 {
    margin-top: 8vh;
    margin-bottom: 20px;
    animation-duration: 3.5s;
  }

  @keyframes heading-animation {
    0%   {background-color:#C5FFFD; margin-left: 10.4%; margin-right: 10.4%; margin-top: 8vh;}
    25%  {background-color:#E0F2E9; margin-left: 5.2%; margin-right: 10.4%; margin-top: 8vh;}
    50%  {background-color:#E0F2E9; margin-left: 10.4%; margin-right: 5.2%; margin-top: 8vh;}
    75%  {background-color:#E0F2E9; margin-left: 4.2%; margin-right: 4.2%; margin-top: 8vh;}
    100% {background-color:#C5FFFD; margin-left: 0%; margin-right: 0%; margin-top: 8vh;}
  }

}
