@charset "UTF-8";

:root {
  --clr-red: hsl(357, 84%, 52%);
  --clr-red-transparent: hsla(357, 84%, 52%, 0.75);
  --br: 10px;
  --box-shadow-transition: box-shadow 0.2s ease-out;
  --clr-bkgd: hsl(0, 0%, 100%);
  --clr-text: hsl(0, 0%, 0%);
  --content-bkgd: hsla(0, 0%, 100%, 0.75);
  --box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2),
    0 6px 20px 0 hsla(0, 0%, 0%, 0.19);
  --line: thin solid hsla(0, 0%, 0%, 0.3);
  --clr-bkgd-dark: hsl(0, 0%, 0%);
  --clr-text-dark: hsl(0, 0%, 100%);
  --content-bkgd-dark: hsla(0, 0%, 0%, 0.75);
  --box-shadow-dark: 0 4px 8px 0 hsla(0, 0%, 100%, 0.2),
    0 6px 20px 0 hsla(0, 0%, 100%, 0.19);
  --line-dark: thin solid hsla(0, 0%, 100%, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-bkgd: var(--clr-bkgd-dark);
    --clr-text: var(--clr-text-dark);
    --content-bkgd: var(--content-bkgd-dark);
    --box-shadow: var(--box-shadow-dark);
    --line: var(--line-dark);
  }
}

@font-face {
  font-family: "Space-Grotesk";
  src: url("../fonts/SpaceGrotesk[wght].woff2") format("woff2"),
    url("../fonts/SpaceGrotesk[wght].ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
  /* Firefox scrollbar styling */
  scrollbar-width: thin;
  scrollbar-color: var(--clr-red) var(--clr-bkgd);
  scroll-padding-top: 2rem;
}

body {
  margin: 0;
  background-color: var(--clr-bkgd);
  color: var(--clr-text);
  font-family: Space-Grotesk, sans-serif, Arial;
  text-align: center;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 1.4rem;
  background-color: var(--content-bkgd);
  border: medium solid var(--clr-red);
  border-radius: calc(var(--br) * 2);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.parent {
  width: 100%;
  display: grid;
  gap: 3.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

hr {
  height: 2px;
  width: 100%;
  margin: 2rem 0 3rem 0;
  background-color: var(--clr-red);
  border: none;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: 500;
  text-decoration: underline solid var(--clr-red);
}

h2 {
  font-weight: 340;
  margin: 1.5em;
}

h3,
p {
  font-weight: 300;
}

nav {
  width: auto;
  padding: 0.5rem;
  background-color: var(--clr-bkgd);
  border: thin solid var(--clr-red);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: var(--box-shadow-transition);
  transition: var(--box-shadow-transition);
}

nav:hover,
nav:focus-within,
.footer:hover,
.footer:focus-within {
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

nav a {
  display: inline-block;
  padding: 1rem;
}

a:link,
a:visited {
  color: var(--clr-text);
  text-decoration: underline;
}

a:hover,
a:focus,
a:active {
  color: var(--clr-text);
  background-color: var(--clr-red);
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}

.view .mask {
  margin: 20px;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: var(--clr-bkgd);
  border: thin solid var(--clr-red);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

.view img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: hsl(0, 0%, 100%);
}

.view h3 {
  text-transform: uppercase;
  font-weight: 450;
  margin: 0.75rem;
  padding: 0.3rem;
  border-bottom: var(--line);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

.view p {
  margin: 0.5rem;
  padding: 0.3rem;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

.view:hover img {
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
  opacity: 0;
}

.view:hover .mask {
  opacity: 1;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.view:hover h3,
.view:hover p {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* 16:9 Aspect Ratio ( 9/16 = 0.5625) */
  padding-top: 56.25%;
  border: thin solid var(--clr-red);
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.footer {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  background-color: var(--clr-bkgd);
  border: thin solid var(--clr-red);
  -webkit-transition: var(--box-shadow-transition);
  transition: var(--box-shadow-transition);
}

nav,
a,
div,
img,
.view,
.footer,
::-webkit-scrollbar-thumb {
  border-radius: var(--br);
}

.logo-container {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 40px);
  place-items: center;
  gap: 2rem;
}

.logo-container img {
  border-radius: 0;
}

a.logo-link:link,
a.logo-link:visited,
a.logo-link:hover,
a.logo-link:active {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-red-transparent);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-red);
}

::selection {
  background-color: var(--clr-red);
}

::selection:window-inactive {
  background-color: var(--clr-red-transparent);
}

canvas {
  display: block;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-color: inherit;
  /* background-image: url(''); */
  /* background-size: cover; */
  background-position: 50% 50%;
  /* background-repeat: no-repeat; */
}
