@charset "UTF-8";

:root {
  --clr-brand: hsl(357, 84%, 52%);
  --clr-brand-transparent: hsla(357, 84%, 52%, 0.6);
  --br: 1rem;
  --clr-bkgd: hsl(0, 0%, 95%);
  --clr-text: hsl(0, 0%, 10%);
  --clr-text-muted: hsl(0, 0%, 30%);
  --clr-main-bkgd: hsl(0, 0%, 90%);
  --box-shadow: 0 0 1rem 0 hsla(0, 0%, 0%, 0.25);
  --clr-brand-dark: hsl(357, 54%, 52%);
  --clr-bkgd-dark: hsl(0, 0%, 6%);
  --clr-text-dark: hsl(0, 0%, 95%);
  --clr-text-muted-dark: hsl(0, 0%, 70%);
  --clr-main-bkgd-dark: hsl(0, 0%, 10%);
  --box-shadow-dark: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-brand: var(--clr-brand-dark);
    --clr-bkgd: var(--clr-bkgd-dark);
    --clr-text: var(--clr-text-dark);
    --clr-text-muted: var(--clr-text-muted-dark);
    --clr-main-bkgd: var(--clr-main-bkgd-dark);
    --box-shadow: var(--box-shadow-dark);
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--clr-brand) var(--clr-bkgd);
}

body {
  margin: 0;
  padding: 1rem;
  background-color: var(--clr-bkgd);
  color: var(--clr-text);
  font-family: sans-serif, Arial;
  font-weight: normal;
}

main {
  max-width: 50em;
  margin-block: 1rem;
  margin-inline: auto;
  padding: clamp(1rem, 3vw, 3rem);
  background-color: var(--clr-main-bkgd);
  border-radius: calc(var(--br) * 2);
  box-shadow: var(--box-shadow);
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  place-items: center start;
  gap: 2rem;
}

.header > img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.portfolio {
  text-align: center;
}

.parent {
  width: 100%;
  margin-block-start: 2rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 2em;
}

h1 {
  font-size: clamp(1.8rem, 4vw, 2.2rem);
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
}

a {
  color: var(--clr-brand);
  text-decoration: underline;
}

a:is(:hover, :focus, :active) {
  color: var(--clr-brand-transparent);
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-block: 1rem;
  border: none;
}

:is(img, iframe, .json) {
  border-radius: var(--br);
}

.icons {
  margin-block-start: 4rem;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 2rem);
  gap: 2rem;
}

.icons > a {
  text-decoration: none;
}

.json {
  font: 1.2rem /2 monospace;
  padding-inline: 1rem;
  border: 1px solid var(--clr-brand-transparent);
}

.key::after {
  content: ":";
}

.val {
}

[data-type="string"] {
  color: hsl(300, 50%, 70%);
}

[data-type="string"]::before,
[data-type="string"]::after {
  content: '"';
  color: var(--clr-text);
}

.key[data-type="string"]::after {
  content: '":';
}

.card {
  margin-block-start: 2rem;
  padding-inline: 1rem;
  border: 1px solid grey;
  border-radius: var(--br);
}

.card > h4 {
  color: var(--clr-text-muted);
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::selection,
::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-brand);
}

::selection:window-inactive,
::-webkit-scrollbar-thumb {
  background-color: var(--clr-brand-transparent);
  border-radius: var(--br);
}
