@charset "UTF-8";

:root {
  --clr-brand: hsl(357, 84%, 52%);
  --clr-brand-transparent: hsla(357, 84%, 52%, 0.75);
  --brand-border: solid var(--clr-brand);
  --br: 0.625rem;
  --box-shadow-transition: box-shadow 200ms ease-out;
  --clr-bkgd: hsl(0, 0%, 98%);
  --clr-text: hsl(0, 0%, 0%);
  --clr-main-bkgd: hsla(0, 0%, 98%, 0.4);
  --box-shadow: 0 0 20px 0 hsla(0, 0%, 0%, 0.3);
  --line: thin solid hsla(0, 0%, 0%, 0.3);
  --clr-bkgd-dark: hsl(0, 0%, 8%);
  --clr-text-dark: hsl(0, 0%, 95%);
  --clr-main-bkgd-dark: hsla(0, 0%, 15%, 0.3);
  --box-shadow-dark: none;
  --line-dark: thin solid hsla(0, 0%, 100%, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-bkgd: var(--clr-bkgd-dark);
    --clr-text: var(--clr-text-dark);
    --clr-main-bkgd: var(--clr-main-bkgd-dark);
    --box-shadow: var(--box-shadow-dark);
    --line: var(--line-dark);
  }
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk[wght].woff2") format("woff2"),
    url("../fonts/SpaceGrotesk[wght].ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
  scroll-padding-top: 4.5em;
  /* Firefox scrollbar styling */
  scrollbar-width: thin;
  scrollbar-color: var(--clr-brand) var(--clr-bkgd);
}

body {
  margin: 0;
  background-color: var(--clr-bkgd);
  color: var(--clr-text);
  font-family: "Space Grotesk", sans-serif, Arial;
  font-weight: normal;
  text-align: center;
}

main {
  max-width: 60em;
  margin-inline: auto;
  margin-block-end: 4rem;
  padding: 1.5rem;
  background-color: var(--clr-main-bkgd);
  border-radius: calc(var(--br) * 2);
  box-shadow: var(--box-shadow);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

section:target > h1 {
  text-decoration: underline solid var(--clr-brand);
}

.parent {
  width: 100%;
  margin: 3rem 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  gap: 5em 4em;
}

hr {
  width: 100%;
  height: 0.125em;
  margin-block: 2.5em;
  background-color: var(--clr-brand);
  border: none;
}

h1 {
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
}

:is(h2, h3, p) {
  font-weight: lighter;
}

#portfolio > h2 {
  font-size: 1.7em;
  margin-block: 2rem;
}

#portfolio > h3::before {
  content: "> ";
}

#portfolio > h3::after {
  content: " <";
}

#portfolio > h3::before,
#portfolio > h3::after {
  opacity: 0.5;
}

#portfolio > h3 {
  font-size: 1.3em;
}

nav {
  padding: 0.5rem;
  background-color: var(--clr-bkgd);
  border: thin var(--brand-border);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  -webkit-transition: var(--box-shadow-transition);
  transition: var(--box-shadow-transition);
}

:is(nav, footer):is(:hover, :focus-within) {
  box-shadow: var(--box-shadow);
}

nav > a {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.65rem;
}

a:is(:link, :visited) {
  color: var(--clr-text);
  text-decoration: underline solid var(--clr-brand);
}

nav > a:is(:hover, :focus, :active) {
  color: var(--clr-text);
  background-color: var(--clr-brand);
  text-decoration: none;
}

a:is(:hover, :focus, :active) {
  color: var(--clr-brand);
  text-decoration: none;
}

.card {
  background-color: var(--clr-main-bkgd);
  padding: 1rem;
}

.welcome-card {
  margin-block: 3rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.welcome-image {
  padding: 1.5rem;
}

.welcome-card > .welcome-image > img {
  border-radius: 50%;
  box-shadow: 0 0 1.5rem 0 hsla(357, 84%, 52%, 0.75);
}

:is(.welcome-image, .welcome-text, .about-me) {
  margin-inline: 0.75rem;
}

img {
  width: 100%;
  height: auto;
}

.view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}

.view > .mask {
  margin: 20px;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: var(--clr-bkgd);
  border: thin var(--brand-border);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

.view > img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: hsl(0, 0%, 100%);
}

.view h3 {
  text-transform: uppercase;
  font-weight: 450;
  margin: 0.75rem;
  padding: 0.3rem;
  border-bottom: var(--line);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

.view p {
  margin: 0.5rem;
  padding: 0.3rem;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

.view:hover > img {
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
  opacity: 0;
}

.view:hover > .mask {
  opacity: 1;
  box-shadow: var(--box-shadow);
}

.view:hover :is(h3, p) {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-block: 1rem;
  border: none;
}

footer {
  display: grid;
  place-items: center;
  background-color: var(--clr-bkgd);
  border: thin var(--brand-border);
  -webkit-transition: var(--box-shadow-transition);
  transition: var(--box-shadow-transition);
}

:is(nav, a, img:not(.logo), div, footer, iframe, .card) {
  border-radius: var(--br);
}

.logos {
  margin-block: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 2.5rem);
  place-items: center;
  gap: 2rem;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::selection,
::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-brand);
}

::selection:window-inactive,
::-webkit-scrollbar-thumb {
  background: var(--clr-brand-transparent);
}

canvas {
  display: block;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-color: inherit;
  background-position: 50% 50%;
}
